* {
	margin: 0;
	padding: 0;
}

.App {
	position: relative;
	text-align: center;
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background-color: #66392d;
}

.test-btn {
	position: absolute;
	top: 42px;
	left: 20px;
	padding: 4px 10px;
	z-index: 1;
}
.step-01 {
	position: relative;
}

.step-01 .btn {
	position: absolute;
	top: 46.4%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 26%;
	height: 12%;
	border-radius: 50%;
	cursor: pointer;
}
.img-01 {
	width: 100%;
	height: auto;
	transform: translateY(-8%);
}

.step-02 {
	position: relative;
}
.img-02 {
	width: 100%;
	height: auto;
}
.i-01 {
	position: absolute;
	top: 34.5%;
	left: 50.5%;
	transform: translate(-50%, 0%);
	width: 9%;
	height: auto;
	/* border: 3px solid red; */
	/* opacity: 0.5; */
}
.shadow {
	position: absolute;
	top: 49%;
	left: 49.8%;
	transform: translate(-50%, 0%);
	width: 22%;
	height: 9.5%;
	/* padding-bottom: 100%; */
	/* border: 2px solid red; */
	box-shadow: 3px 3px 4px #d56843;
	border-radius: 50%;

	/* border: 3px solid red; */
	/* opacity: 0.5; */
}
.i-02 {
	position: absolute;
	top: 49%;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 22%;
	height: auto;
	transition: 3.5s ease;
	/* box-shadow: 5px 5px 5px #f58220; */
	/* border-radius: 50%; */
	/* opacity: 0.5; */
}
.s {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 5px 5px 5px #f58220;
}
.rullet {
	position: absolute;
	top: 38.3%;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 70.908333333%;
	height: 31.84878471%;
	border-radius: 50%;
	cursor: pointer;
	transition: 3.5s ease;
	/* opacity: 0.5; */
}
.isSpinning {
	/* animation: App-logo-spin infinite 3s ease forwards; */
}
.step-02 .btn {
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 69%;
	height: 7%;
	/* border-radius: 50%; */
	cursor: pointer;
}

.step-03 {
	position: relative;
}

.step-03 .btn {
	position: absolute;
	top: 62.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 6%;
	/* border-radius: 50%; */
	cursor: pointer;
}

.step-03 .text {
	position: absolute;
	top: 57.3%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 67%;
	height: auto;
	cursor: pointer;
	font-size: 11px;
	font-weight: 300;
}
.step-03 strong {
	color: #000;
}
.img-03 {
	width: 100%;
	height: auto;
}

.product.d-4 {
	max-width: 150px;
}
.product {
	position: absolute;
	top: 46.3%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 180px;
	max-height: 150px;
}
.product.d-1 {
	top: 44%;
	left: 42%;
	transform: translate(-50%, -50%);
	max-width: 240px;
	max-height: 640px;
}

.hidden {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
}

@keyframes App-logo-spin {
	from {
		transform: translate(-50%, 0%) rotate(0deg);
	}
	to {
		transform: translate(-50%, 0%) rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}
